extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem officia pariatur nihil numquam assumenda non eos consequatur nam sapiente laboriosam, minima exercitationem itaque, facere sint fugiat nostrum saepe, dicta beatae!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, mollitia quae aperiam et iusto porro facere, incidunt neque ab, corrupti dignissimos debitis hic distinctio. Non, dolor! Aliquam eum nemo exercitationem?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque molestiae nobis ea. Vitae doloremque blanditiis corrupti a eum ex amet nisi veritatis quod, illo fugit quia dolor hic veniam? Odit?

    div.listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam nam architecto cupiditate, veritatis dicta temporibus! Deleniti et dolore debitis cum cumque possimus. Neque facere pariatur aliquid voluptates, ipsum molestiae laudantium?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam nam architecto cupiditate, veritatis dicta temporibus! Deleniti et dolore debitis cum cumque possimus. Neque facere pariatur aliquid voluptates, ipsum molestiae laudantium?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam nam architecto cupiditate, veritatis dicta temporibus! Deleniti et dolore debitis cum cumque possimus. Neque facere pariatur aliquid voluptates, ipsum molestiae laudantium?

